
@font-face {
    font-family: 'Play';
    src: url('../fonts/play-regular-webfont.ttf'), url('../fonts/play-regular-webfont.eot'), url('../fonts/play-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Play';
    src: url('../fonts/play-bold-webfont.ttf'), url('../fonts/play-bold-webfont.eot'), url('../fonts/play-bold-webfont.woff');
    font-weight: bold;
    font-style: normal;

}




/* Main Layout */
html,body {margin: 0; padding: 0;}
body {height: 100%; font-family: Arial, Helvetica, sans-serif; color: #404040; font-size: 14px; line-height: 20px;}
h1,h2,h3,h4,h5,h6 {margin: 0px 0px 20px 0px; padding: 0px; font-weight: bold; color: #4b4b4b;}
h1 {font-size: 36px; line-height: 30px; font-family: Play, Arial, Helvetica, sans-serif;}
h2 {font-size: 24px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}

p {margin: 0px 0px 20px 0px; padding: 0px;}

table {border-spacing:0; border-collapse: collapse;}
td {vertical-align: top;}

a {color: #404040; text-decoration: underline; cursor: pointer;}
a:hover {color: #6db800; text-decoration: none;}
.active a, a.active {}

a, input, textarea, button {outline: none 0;}
a img {border: 0;}

/* */

.frontpage {}

.holder {height: inherit; background: #366429 url(../images/bg.png) repeat;}
.holder > .wrapper {margin: 0; padding: 45px 10px 20px; max-width: 815px; min-width: 280px; margin: 0px auto; position: relative;}

.content {background: #fff7de; width: 100%; position: relative; border-radius: 5px; box-shadow: 0px 3px 25px rgba(0,0,0,0.42);}
.content > .wrapper {position: relative; padding: 20px 30px 30px; overflow: hidden;}

header {text-shadow: 0px 1px 0px rgba(255,255,255,1); }
header .version {text-align: right; color: #5c553e; margin-bottom: 5px; font-family: "Play", Arial, Helvetica, sans-serif;}
header h1 {text-align: center;}

.anons {font-size: 16px; line-height: 23px; margin-top: 40px;}
.anons .block {position: relative; padding: 0px 0px 0px 50px; min-height: 26px;overflow: hidden;} 
.anons .list:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 10px; background: url(../images/icon-sprite.png) no-repeat 0px -30px;}
.anons .time:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 10px; background: url(../images/icon-sprite.png) no-repeat 0px -60px;}
.anons .arrow:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 10px; background: url(../images/icon-sprite.png) no-repeat 0px 0px;}

.user {font-size: 16px; line-height: 23px; margin-top: 40px;text-shadow: 0px 1px 0px rgba(255,255,255,1); }
.user .block {position: relative; padding: 0px 0px 0px 50px; min-height: 26px; overflow: hidden;}
.user .user:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 2px; left: 20px; background: url(../images/icon-sprite.png) no-repeat -60px -30px;}

.questions {background: #e3d7ae; padding: 20px 20px 25px; border-radius: 5px; position: relative; margin: 10px 0px 0px 0px; line-height: 30px; overflow: hidden;}
	.questions {}
.questions .question {position: relative;}
	.questions .question {}

			.questions .question#question1 {display: block;}	
			.questions .question#question2 {display: none;}	
	
.questions .question .question-number {float: left; color: #60970f; width: 40px; font-size: 24px; text-shadow: 0px 1px 0px rgba(255,255,255,0.51); font-weight: bold;}
	.questions .question .question-number {opacity: 0; margin-top: 30px;}
	.questions .question.visible .question-number {transition: all 0.3s ease; opacity: 1; margin-top: 0px;}
.questions .question .question-text {margin-left: 40px; color: #423f33; font-size: 24px; text-shadow: 0px 1px 0px rgba(255,255,255,0.51); font-weight: bold; min-height: 90px; }
	.questions .question .question-text {opacity: 0; margin-top: 30px; margin-bottom:-30px;}
	.questions .question.visible .question-text {transition: all 0.3s ease; opacity: 1; margin-top: 0px; margin-bottom: 0;}
.questions .question .answers {margin: 30px 40px 0px;}
.questions .question .answers .answer {transition: all 0.1s ease; margin-bottom: 25px; display: block; position: relative; border-radius: 4px; border: 1px solid #64a20f; box-shadow: 0px 2px 5px -1px rgba(93,76,20,0.58);}
	.questions .question .answers .answer:nth-child(1) {opacity: 0; left: -40px;}
	.questions .question.visible .answers .answer:nth-child(1) {transition: all 0.3s ease;opacity: 1; left: 0;}
	.questions .question .answers .answer:nth-child(2) {opacity: 0; right: -40px;}
	.questions .question.visible .answers .answer:nth-child(2) {transition: all 0.3s ease;opacity: 1; right: 0;}
.questions .question .answers .answer:hover {border: 1px solid #8ea609;}
.questions .question .answers .answer a {transition: all 0.1s ease; display: block; font-size: 20px; line-height: 26px; font-weight: bold; color: #fff8e1; text-decoration: none; text-align: center; background: #6eba00 url(../images/button-bg.png) repeat-x top; background-size: contain; min-height: 53px; border-top: 1px solid #b0e06f; border-bottom: 1px solid #5a9400; border-left: 1px solid #89c82f; border-right: 1px solid #89c82f; border-radius: 3px; text-shadow: 0px 1px 1px rgba(0,0,0,0.27); padding: 5px 15px;}
.questions .question .answers .answer a:hover {background: #6eba00 url(../images/button-bg-hover.png) repeat-x top; background-size: contain; border-top: 1px solid #cde165; border-bottom: 1px solid #839600; border-left: 1px solid #b1c727; border-right: 1px solid #b1c727; }
.questions .question .answers .answer a.active {transition: all 0.005s ease; background: #6eba00 url(../images/button-bg-active.png) repeat-x top; background-size: contain; border-top: 1px solid #839600; border-bottom: 1px solid #cde165; border-left: 1px solid #b1c727; border-right: 1px solid #b1c727; }
.questions .question .answers .answer a span {display: block; position: relative; z-index: 1;}
.questions .question .answers .answer:last-child {margin-bottom: 0px;}

.progress {margin: 18px 0px;}
.progress .bar {height: 15px; border-radius: 8px; width: 100%; display: block; position: relative;  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.35); background: #e3d7ae; overflow: hidden;}
.progress .bar .percent {height: 13px; min-width: 3px; max-width: 100%; border-top: 1px solid #b0e06f; border-bottom: 1px solid #5a9500; border-right: 1px solid #65ac00; background: #70bf00 url(../images/button-bg.png) repeat-x top; background-size: contain;}
.progress .stat {margin-top: 15px; font-size: 14px; color: #423f33;}
.progress .stat span {}

.question-buttons {overflow: hidden;}
.question-buttons .prevquestion {float: left;}
.question-buttons .prevquestion a {transition: all 0.1s ease; font-family: "Play", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 20px; color: #685b2e; text-decoration: none; text-transform: uppercase; padding: 6px 15px 6px 35px; background: url(../images/button-previous.png) no-repeat center; display: block;}
.question-buttons .prevquestion a:hover {background: url(../images/button-previous-hover.png) no-repeat center; }
.question-buttons .prevquestion a:active {transition: all 0.005s ease; background: url(../images/button-previous-active.png) no-repeat center; }

.print-button {transition: all 0.1s ease; display: inline-block; position: relative; border-radius: 4px; border: 1px solid #64a20f; box-shadow: 0px 2px 5px -1px rgba(93,76,20,0.58);float: right; margin-top: -50px;}
.print-button:hover {border: 1px solid #8ea609;}
.print-button:last-child {margin-top: 0px;}
.print-button a {transition: background 0.2s ease; text-decoration: none; display: block; font-size: 14px; line-height: 20px; font-weight: bold; color: #fff8e1; text-align: center; background: #6eba00 url(../images/button-print.png) repeat-x top; background-size:  100% 300%; border-top: 1px solid #b0e06f; border-bottom: 1px solid #5a9400; border-left: 1px solid #89c82f; border-right: 1px solid #89c82f; border-radius: 3px; text-shadow: 0px 1px 1px rgba(0,0,0,0.27); padding: 5px 8px;}
.print-button a:hover {background: #6eba00 url(../images/button-print-hover.png) repeat-x center; background-size:  100% 300%; border-top: 1px solid #cde165; border-bottom: 1px solid #839600; border-left: 1px solid #b1c727; border-right: 1px solid #b1c727;}
.print-button a.active {transition: background 0.005s ease; background: #6eba00 url(../images/button-print-active.png) repeat-x bottom; background-size: 100% 300%; border-top: 1px solid #839600; border-bottom: 1px solid #cde165; border-left: 1px solid #b1c727; border-right: 1px solid #b1c727;}
.print-button a span {padding-left: 27px; display: block; position: relative;}
.print-button a span:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 3px; left: 0px; background: url(../images/icon-sprite.png) no-repeat -60px 0px;}

.results {border-radius: 5px; background: white; border: 1px solid #e3d7ae; margin: 10px 0px 30px; padding: 20px; color: black;}
.results h2 { color: #2e2e2e; margin: 0px 0px 25px 0px;}
.results h3 {color: black; margin: 0px 0px 10px;}
.results p {color: black;}
.results .block {position: relative; padding: 0px 0px 0px 34px; min-height: 26px;}
.results .plus:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 0px; background: url(../images/icon-sprite.png) no-repeat -30px -30px;}
.results .graph:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 0px; background: url(../images/icon-sprite.png) no-repeat -30px 0px;}
.results .users:before {content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 0px; background: url(../images/icon-sprite.png) no-repeat -30px -60px;}
.results .professions {margin: 30px 0px; overflow: hidden; font-size: 14px;}
.results .professions .images {float: left; width: 24%; text-align: center;}
.results .professions .images a {}
.results .professions .images img {border: 1px solid #e3d7ae; margin-bottom: 7px;}
.results .professions .list {margin-left: 25%;}
.results .professions .list ul {padding: 0; margin: 0; list-style: none; -webkit-columns: 2; -moz-columns: 2; -o-columns: 2; columns: 2; -ms-columns: 2;}
.results .professions .list ul li {padding-left: 13px; background: url(../images/ulli.png) no-repeat left 9px; font-weight: bold; margin: 0px 0px 7px;}

.userform {background: #e3d7ae; padding: 20px 27px; border-radius: 5px; position: relative; margin: 30px 0px 0px 0px;}
.userform form {}
.userform input[type=text] {z-index: 1;border: 1px solid #d2cab1; margin: 0; font-size: 16px; color: #1a1a1a; padding: 10px 10%; font-family: Arial, Helvetica, sans-serif; width: 100%;}
.userform input[type=text]:focus {border: 1px solid #92ca46; box-shadow: 0px 0px 8px rgba(255,255,190,0.7);}
.userform input[type=text].ok {background: white url(../images/input-checked.png) no-repeat right;}
.userform .firstname {width: 26%; margin-right: 8.3%; float: left; position: relative;}
.userform .surname {width: 26%; margin-right: 8.3%; float: left; position: relative;}
.userform .email {width: 26%; margin-right: 0; float: left; position: relative;}
.userform .submit {padding: 35px 0px 0px; text-align: center; clear: both;}
.userform .submit input {transition: all 0.1s ease; background: url(../images/button-start.png) no-repeat; text-align: left; font-size: 28px; text-transform: uppercase; color: #fff8e1; border: 0; padding: 15px 47px 20px 23px ; font-family: "Play", Arial, Helvetica, sans-serif; text-shadow: 0px 1px 1px rgba(0,0,0,0.27); font-weight: bold; background-size: contain;}
.userform .submit input:hover {background: url(../images/button-start-hover.png) no-repeat;  background-size: contain;}
.userform .submit input.active {transition: all 0.005s ease; background: url(../images/button-start-active.png) no-repeat;  background-size: contain;}
.userform .error {display: none;position: absolute;z-index: 2;font-size: 14px;color: white;background: red url(../images/validation-bg.png) repeat-x top; background-size: contain; border-radius: 3px; padding: 4px 12px; margin-right: -3%; margin-top: 3px; top: 40px; left: 0px;}
.userform .error:before {content: ""; display: block; width: 7px; height: 4px; position: absolute; top:-4px; left: 3px; background: url(../images/validation-arrow.png) no-repeat bottom;}

footer {width: 100%; position: relative; color: #fff7db;}
footer > .wrapper {margin: 20px 0px 0px; position: relative;}
footer .logo {float: left; width: 105px;}
footer .logo a {}
footer .logo a img {}
footer .copyright {width: 155px; float: left;}
footer .copyright p {font-size: 12px; margin: 0px 0px 3px;}
footer nav {margin: 0px 100px 0px 260px; /*display: table;*/}
footer nav ul {padding: 0; margin: 0; display: table-cell; height: 42px; vertical-align: middle;}
footer nav ul li {float: left; margin: 0px 35px 3px 0px;}
footer nav ul li a {color: white;}
footer nav ul li a:hover, footer nav ul li a:active {color: white;}
footer .madein {width: 90px; position: absolute; right: 5px; top: 0; text-align: right;}
footer .madein a {}
footer .madein a img {margin-top: 10px;}
footer .desc {display: none;}
footer .sitename {display: none;}


.warning {}
.warning .icon {background: url(../images/warning.png) no-repeat top; height: 200px; background-size: contain; margin: 40px 0px 30px;}
.warning .title {font-size: 20px; color: #60970f; text-align: center; font-weight: bold; margin-bottom: 80px;}


@media all and (max-width: 830px) {
	
}

@media all and (max-width: 640px) {
	header {padding: 0 10px;}
	header h1 {font-size: 24px;}
	.anons {padding: 0 10px;}
	.userform input[type=text] {margin-bottom: 20px; padding: 10px 3%;}
	.userform .firstname {width: 93%; margin-right: 0%; float: none;}
	.userform .surname {width: 93%; margin-right: 0%; float: none;}
	.userform .email {width: 93%; margin-right: 0; float: none;}
	.userform .submit {padding: 10px 0px 0px;}
	.content > .wrapper {padding: 20px 10px 30px 10px;}
	.userform {padding: 20px 20px;}
	footer nav {display: block; clear: left; margin: 0; width: 100%; overflow: hidden; line-height: 30px;}
	footer nav ul {padding: 10px 0; display: block; height: auto;}
	footer .madein {width: 100%; position: relative; right: auto; top: auto; text-align: left;}
	footer .madein a img {margin: 0;}
	.question {line-height: 22px;}
	.question .answers {margin: 30px 0px 0px;}
	.question .question-number {width: 32px; font-size: 18px;}
	.question .question-text {margin-left: 32px; font-size: 18px; }
	.question .answers .answer a {font-size: 16px; line-height: 18px; padding: 5px 10px;}
	.results .professions .images {display: none;}
	.results .professions .list {margin-left: 35px;}
	.results .professions .list ul {padding: 0; margin: 0; list-style: none; -webkit-columns: 1; -moz-columns: 1; -o-columns: 1; columns: 1; -ms-columns: 1;}
	.results h2 {font-size: 20px;}
	.print-button {float:none; margin-left: 20px; margin-top: 0;}
	.warning .icon {height: 130px;}
	.warning .title {font-size: 16px;}
}

@media all and (max-width: 340px) {
	.userform .submit input{ padding: 15px 37px 20px 13px ;}
	.questions .question .question-text { font-size: 20px;}
	.questions .question .answers .answer a {font-size: 14px; line-height: 20px; }

}

@media print {
	h1, .version {font-family: Arial, Helvetica, sans-serif;}
	a:after {content: ""; display: none;}
	.user .block {padding-left: 0;}
	.user .block p:before {content: "Тестируемый: "; display: inline;}
	.results .professions .images {display: block; float: left; width: 100px;}
	.results .professions .list {margin-left: 150px;}
	.results .professions .list ul {list-style: inside disc;}
	.print-button {display: none;}
	.results {border: 0; padding: 0; margin: 0;}
	.results .block {background: none; padding: 0;}
	.results .professions .list ul li {float:left;width:40%;}
	footer nav {display: none;}
	footer .madein {display: none;}
	footer .copyright {display: none;}
	footer .desc {display: block; line-height: 42px; font-size: 14px; float: left;}
	footer .sitename {display: block; float: right; line-height: 42px;}
}